<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h2>Panel Heading</h2>
		<div class="panel panel-default">
			<div class="panel-heading">
				<table class="table table-bordered table-hover">
					<tr>
						<td>번호</td>
						<td>제목</td>
						<td>작성자</td>
						<td>작성일자</td>
						<td>조회수</td>
					</tr>
					<tr th:each="board: ${boards}">
						<td th:text="${board.idx}">번호</td>
						<td th:text="${board.title}">제목</td>
						<td th:text="${board.writer}">작성자</td>
						<td th:text="${board.indate}">작성일자</td>
						<td th:text="${board.count}">조회수</td>
					</tr>


				</table>

			</div>
			<div class="panel-body">Panel Content</div>
		</div>
	</div>
</body>
</html>